<%= simple_form_for([@project, @shot], html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>

    <div class="field">
      <%= f.label :user_shot %><br>
      <%= f.file_field :user_shot_url %>
    </div>
  	<div class="control">
    	<%= f.button :submit, 'Partager',class:"button is-info" %>
    </div>
<% end %>
