<section class="hero is-info is-bold is-medium">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-size-3">
				Raconte l'histoire de ton projet !
			</h1>
			<h3 class="title is-size-6">
				<span class="has-text-grey-lighter">
					Stories c'est un peu l'insta des projets d'Octo... en mieux évidemment !
				</span>
			</h3>
		</div>
		<br />
	</div>
</section>
