<nav class="panel panel-links">
  <p class="panel-heading">
    Les ressources
  </p>

  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-download" aria-hidden="true"></i>
    </span>
    Télécharger la fiche ref.
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fab fa-google-drive" aria-hidden="true"></i>
    </span>
    Google Drive
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <%= image_tag("octopod.png", class:"octopod") %>
    </span>
    Octopod
  </a>
</nav>
