<%= render 'hero', project: @project %>

<section class="section">
  <div class="projects">
    <div class="columns is-multiline">

      <% @projects.each do |project| %>
        <div class="column is-3">
          <%= render 'project_card', project: project %>
        </div>
      <% end %>

    </div>
  </div>
</section>
