<section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <%= link_to 'Back', projects_path, class:'button is-white' %>
        </div>
      </div>
      <!-- Right side -->
      <div class="level-item">
        <div class="level-item has-text-centered">
          <h1 class="title is-4 has-text-centered">Crée la Story de ta mission !</h1>
        </div>
      </div>
    </nav>
    <%= render 'form', project: @project %>
  </div>
</section>
